.list-group-item {
  margin: 10px 5px;
  background-color: #f1fffd;
  font-size: 15px;
}

h1 {
  font-size: 18px;
  color: red;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
}

.btn {
  margin: 10px 5px;
  font-size: 20px;
}


